<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>




    <script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
    <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
    <script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div><a class="navbar-brand" href="index.html" style="font-size:32px;">采购</a></div>
        </div>
    </div>
</nav>


<div class="container">


    <form class="form-signin" id="oneFrom">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户注册</h2>



        <div class="form-group">
            <label for="userAccount">用户姓名</label>
            <input type="text" class="form-control" id="realame" placeholder="请输入用户姓名" >
        </div>
        <div class="form-group">
            <label for="userAccount">登陆账号</label>
            <input type="text" class="form-control" id="userAccount" placeholder="请输入登陆账号" >
        </div>
        <div class="form-group">
            <label for="userAccount">登录密码</label>
            <input type="text" class="form-control" id="password" placeholder="请输入登陆账号" >
        </div>
        <div class="form-group">
            <label for="email">邮箱地址</label>
            <input type="email" class="form-control" id="email"  placeholder="请输入邮箱地址" >
            <p class="help-block label label-warning">请输入合法的邮箱地址, 格式为： xxxx@xxxx.com</p>
        </div>
        <div class="form-group">
            <label for="userAccount">电话号码</label>
            <input type="text" class="form-control" id="personPhone" placeholder="请输入电话号码" >
        </div>

        <div class="form-group">
            <label for="password">用户类型</label>
            <select class="form-control" name="collegeId" id="collegeId" >
                <option th:value="1">湖南</option>
                <option th:value="1">湖南</option>
                <option th:value="1">湖南</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                忘记密码
            </label>
            <label style="float:right">
                <a href="/">我有账号</a>
            </label>
        </div>
        <button type="button" class="btn btn-default" id="btnSub">确定提交</button>
        <input th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}" id="regTime" hidden>
        <input th:value="0" id="status" hidden >
        <input th:value="C" id="userType" hidden >
    </form>
</div>

<script type="text/javascript">
    $(function () {


        $("#btnSub").click(function () {

            var loginacct = $("#realame").val();
            if (loginacct == "") {
                layer.msg("竞价金额不能为空，请输入", {time: 2000, icon: 5, shift: 6}, function () {

                });
                return;
            }

            var loadingIndex = null;
            $.ajax({

                //realame    userAccount   password     email personPhone   collegeId

                //regTime  status   userType
                type: "POST",
                url: "/colleage/userRegiste",
                data: {
                    "realName":$("#realame").val(),
                    "userAccount":$("#userAccount").val(),
                    "userPass":$("#password").val(),
                    "email":$("#email").val(),
                    "personPhone":$("#personPhone").val(),
                    "collegeId":$("#collegeId").val(),
                    "regTime":$("#regTime").val(),
                    "status":$("#status").val(),
                    "userType":$("#userType").val()
                   ,
                },
                beforeSend: function () {
                    loadingIndex = layer.msg('处理中', {icon: 16});
                },
                success: function (result) {
                    layer.close(loadingIndex);
                    if (result.rtnCode == 200) {
                        layer.msg("提交报价信息成功", {time: 1000, icon: 6}, function () {
                            window.location.href = "/enterprise/orderIndex";
                        });
                    } else {
                        layer.msg("提交报价信息失败，请重新操作", {time: 2000, icon: 5, shift: 6}, function () {

                        });
                    }
                }
            });
        });
    });
</script>
</body>
</html>