<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.csss}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
    <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="script/docs.min.js" th:src="@{script/docs.min.js}"></script>
    <script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>

    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div th:replace="/common/managebar::container-fluid"></div>
</nav>

<div class="container-fluid" id="sidebar">
    <div class="row">
        <div th:replace="/common/managebar::#sidebar(when=role)"></div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon" style="color: red"></div>
                                <input class="form-control has-success" type="text" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;"
                            onclick="window.location.href='/pt/role/add'"><i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input type="checkbox"></th>
                                <th>id</th>
                                <th>名称</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody id="userData">

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <ul class="pagination" id="rolePage">

                                    </ul>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        pagequery(1);
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });

    $("tbody .btn-success").click(function () {
        window.location.href = "assignPermission.html";
    });


    function goAssignPage(id) {
        window.location.href = "/pt/role/assign/resource?roleId=" + id;
    }

    function pagequery(page) {

        $.ajax({
            url: "/pt/role/pagequery",
            data: "page=" + page,
            type: "POST",
            before: function () {
                loadingIndex = layer.msg('处理中', {icon: 16});
            },
            success: function (result) {
                if (result.rtnCode == 200) {
                    var context = "";
                    var pageContent = "";

                    var users = result.data.list;
                    $.each(users, function (i, roles) {
                        context += '<tr>';
                        context += '  <td>' + (i + 1) + '</td>';
                        context += '  <td><input type="checkbox" name="userid" value="' + roles.roleId + '"></td>';
                        context += '  <td>' + roles.roleId + '</td>';
                        context += '  <td>' + roles.roleName + '</td>';
                        context += '  <td>'
                        context += '      <button type="button" onclick="goAssignPage(' + roles.roleId + ')" class="btn btn-success btn-xs"><i class=" glyphicon glyphicon-check"></i></button>';
                        context += '	  <button type="button" onclick="deleteRole(' + roles.roleId + ', \'' + roles.roleName  + '\')" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></button>';
                        context += '  </td>'
                        context += '<tr/>';
                    })
                    if (page > 1) {
                        pageContent += '<li><a href="#" onclick="pagequery(' + (page - 1) + ')">上一页</a></li>';
                    }
                    for (var i = 1; i <= result.data.pages; i++) {
                        if (i == page) {
                            pageContent += '<li class="active"><a  href="#">' + i + '</a></li>';
                        } else {
                            pageContent += '<li ><a href="#" pageQuery="to_page(' + i + ')">' + i + '</a></li>';
                        }
                    }

                    if (page < result.data.pages) {
                        pageContent += '<li><a href="#" onclick="pagequery(' + (page + 1) + ')">下一页</a></li>';
                    }

                    $("#userData").html(context);
                    $("#rolePage").html(pageContent)
                }
                esle
                {
                    layer.msg("角色信息分页查询失败", {time: 2000, icon: 5, shift: 6}, function () {

                    });

                }
            }
        })
    }



    function deleteRole(id, reoleName) {
        layer.confirm("删除角色信息【" + reoleName + "】, 是否继续", {icon: 3, title: '提示'}, function (cindex) {

            // 删除用户信息
            $.ajax({
                type: "POST",
                url: "/pt/role/delete",
                data: {id: id},
                success: function (result) {
                    if (result.rtnCode == 200) {
                        layer.msg("角色删除成功", {time:1000, icon:6}, function(){
                            pagequery(1);
                        });

                    } else {
                        layer.msg("用户角色删除失败", {time: 2000, icon: 5, shift: 6}, function () {

                        });
                    }
                }
            });

            layer.close(cindex);
        }, function (cindex) {
            layer.close(cindex);
        });
    }

</script>
</body>
</html>
