    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
    <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
    <script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>

    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div th:replace="/common/managebar::container-fluid"></div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div th:replace="/common/managebar::#sidebar"></div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">数据列表</a></li>
                <li class="active">修改</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">表单数据
                    <div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="glyphicon glyphicon-question-sign"></i></div>

                </div>




                <div class="panel-body">
                    <!--<form id="" role="form">
                        <div class="form-group">
                            <label for="orderCode">申购项目</label>
                            <input type="text" class="form-control" id="orderCode"
                                   placeholder="请输入申购项目">
                        </div>
                        <div class="form-group">
                            <label for="unit">申购项目数量</label>
                            <input type="text" class="form-control" id="unit"
                                   placeholder="请输入申购项目数量">
                        </div>
                        <div class="form-group"> &lt;!&ndash;th:value="${#dates.format(order.endBidtime,'yyyy-MM-dd')}"&ndash;&gt;
                            <label for="endBidtime">申购时间</label>
                            <input type="date" class="form-control" id="endBidtime" pattern="yyyy-MM-dd"
                                   placeholder="请输入申购项目数量">
                        </div>

                        <div class="form-group">
                            <label for="personPhone">申购人电话</label>
                            <input type="text" class="form-control" id="personPhone"
                                   placeholder="请输入申购人电话">
                        </div>
                        <div class="form-group">
                            <label for="installationgSite">送货地点</label>
                            <input type="text" class="form-control" id="installationgSite"
                                   placeholder="请输入送货地点">
                        </div>
                        <div class="form-group">
                            <label for="remark">审核意见</label>
                            <textarea type="text" class="form-control" id="remark" th:text="无意见"
                                   placeholder="请输入审核意见" rows="5" cols="20"/>

                        </div>

                        <button id="updateBtn" type="button" class="btn btn-success"><i
                                class="glyphicon glyphicon-pencil"></i> 通过
                        </button>
                        <button id="passBtn" type="button" class="btn btn-danger"><i
                                class="glyphicon "></i> 不通过
                        </button>
                    </form>-->



                        <form id="userForm">




                           >
                            <div class="row">

                                <div class="col-md-6">


                                    <ul>
                                        <li>
                                            竞价金额   &nbsp &nbsp   <span th:text="${cpOrder.bidReason}"></span>
                                        </li>
                                        <li>
                                            差异描述 &nbsp &nbsp   <span th:text="${cpOrder.diffrencesDesc}" ></span>
                                        </li>
                                        <li>
                                            售后服务 &nbsp &nbsp   <span th:text="${cpOrder.afterService}"></span>
                                        </li>

                                        <li>
                                            竞价企业   &nbsp &nbsp    <span th:text="${cpOrder.companyName}" ></span>
                                        </li>

                                        <li>
                                            竞价人   &nbsp &nbsp    <span th:text="${cpOrder.bidPerson}"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">

                                    <ul>
                                        <th:block th:each="coOrder:${coOrder}">

                                        <li>
                                            主题   &nbsp &nbsp    <span th:text="${coOrder.orderTitle}"></span>
                                        </li>

                                        <li>
                                            采购人   &nbsp &nbsp    <span th:text="${coOrder.orderPerson}"></span>
                                        </li>
                                        <li>
                                            采购人电话   &nbsp &nbsp    <span th:text="${coOrder.personPhone}"></span>
                                        </li>
                                        <li>
                                            送货地点   &nbsp &nbsp    <span th:text="${coOrder.installationgSite}"></span>
                                        </li>
                                            <li>
                                               售后服务  &nbsp &nbsp    <span th:text="${coOrder.remark}"></span>
                                            </li>
                                            <li>
                                                申购单号  &nbsp &nbsp    <span th:text="${coOrder.orderMainId}"></span>
                                            </li>
                                            <input id="orderMainId" th:value="${coOrder.orderMainId}" hidden>
                                        </th:block>
                                    </ul>


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>备注</label>
                                    <input name="secondAuditReason" id="secondAuditReason" th:value="无理由">
                                </div>
                            </div>




                            <button id="orderSub" type="button" class="btn btn-success"><i
                            ></i> 通过审核
                            </button>
                        </form>


                </div>


                <input th:value="${session.user.userId}"  id="userId" hidden="hidden">
                <input th:value="${session.user.userName}" id="userName" hidden="hidden">
                <input th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}" id="secondTime" hidden="hidden">

            </div>
        </div>
    </div>
</div>
<div th:replace="/common/managebar::fade"></div>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });


        $("#orderSub").click(function () {


            var loadingIndex = null;


            var date = new Date();
            $.ajax({
                type: "POST",
                url: "/platform/editPermary/order",
                data: {
                    "orderMainId": $("#orderMainId").val(),
                    "secondAuditUserId": $("#userId").val(),
                    "secondAuditReason": $("#secondAuditReason").val(),
                    "secondAuditUserName": $("#userName").val(),
                    "orderProcess": "8",
                    "secondTime":$("#secondTime").val(),

                },
                beforeSend: function () {
                    loadingIndex = layer.msg('处理中', {icon: 16});
                },
                success: function (result) {
                    layer.close(loadingIndex);
                    if (result.rtnCode == 200) {
                        layer.msg("订单信息修改成功", {time: 1000, icon: 6}, function () {
                            window.location.href = "/paltForm/getReleaseAudit/orderMain";
                        });
                    } else {
                        layer.msg("订单   信息修改失败，请重新操作", {time: 2000, icon: 5, shift: 6}, function () {

                        });
                    }
                }
            });
        });

        $("#passBtn").click(function () {
            var loginacct = $("#userAccount").val();
            if (loginacct == "") {
                layer.msg("登录账号不能为空，请输入", {time: 2000, icon: 5, shift: 6}, function () {

                });
                return;
            }

            var loadingIndex = null;
            $.ajax({
                type: "POST",
                url: "/platform/release/passOrder",
                data: {
                    "orderMainId": $("#orderMainId").val(),
                    "userId": $("#userId").val(),
                    " remark": $("#remark").val(),
                    " orderProcess": "3"
                },
                beforeSend: function () {
                    loadingIndex = layer.msg('处理中', {icon: 16});
                },
                success: function (result) {
                    layer.close(loadingIndex);
                    if (result.rtnCode == 200) {
                        layer.msg("订单处理成功", {time: 1000, icon: 6}, function () {
                            window.location.href = "/paltForm/getReleaseAudit/orderMain";
                        });
                    } else {
                        layer.msg("订单处理失败，请重新操作", {time: 2000, icon: 5, shift: 6}, function () {

                        });
                    }
                }
            });
        });

        $("#resetBtn").click(function () {
            $("#userForm")[0].reset();
        });


    });



</script>
</body>

<script>

</script>
</html>
