<!DOCTYPE html>
<html lang="zh-CN">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/theme.css">
	<style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
	</style>
  </head>
  <body>
 <div class="navbar-wrapper">
      <div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="index.html" style="font-size:32px;">鐏忔氨顒茬純?閸掓稒鍓版禍褍鎼ф导妤冾劜楠炲啿褰?/a>
				</div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> 瀵姳绗?span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="member.html"><i class="glyphicon glyphicon-scale"></i> 娴兼艾鎲虫稉顓炵妇</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 濞戝牊浼?/a></li>
                    <li class="divider"></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 闁偓閸戣櫣閮寸紒?/a></li>
                  </ul>
                </li>
              </ul>
            </div>
			  </div>
			</nav>

      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <div class="page-header">
        <h1>鐎圭偛鎮曠拋銈堢槈 - 閻㈠疇顕?/h1>
      </div>

		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active"><a href="#"><span class="badge">1</span> 閸╃儤婀版穱鈩冧紖</a></li>
		  <li role="presentation"><a href="#"><span class="badge">2</span> 鐠у嫯宸濋弬鍥︽娑撳﹣绱?/a></li>
		  <li role="presentation"><a href="#"><span class="badge">3</span> 闁喚顔堢涵顔款吇</a></li>
		  <li role="presentation"><a href="#"><span class="badge">4</span> 閻㈠疇顕涵顔款吇</a></li>
		</ul>
        
		<form role="form" style="margin-top:20px;">
		  <div class="form-group">
			<label for="realname">閻喎鐤勯崥宥囆?/label>
			<input type="text" class="form-control" id="realname" placeholder="鐠囩柉绶崗銉ф埂鐎圭偛鎮曠粔?>
		  </div>
		  <div class="form-group">
			<label for="cardnum">闊偂鍞ょ拠浣稿娇閻?/label>
			<input type="text" class="form-control" id="cardnum" placeholder="鐠囩柉绶崗銉ㄩ煩娴犲€熺槈閸欓鐖?>
		  </div>
		  <div class="form-group">
			<label for="tel">閻絻鐦介崣椋庣垳</label>
			<input type="text" class="form-control" id="tel" placeholder="鐠囩柉绶崗銉ф暩鐠囨繂褰块惍?>
		  </div>
          <button type="button" onclick="window.location.href='accttype.html'" class="btn btn-default">娑撳﹣绔村?/button>
		  <button type="button" onclick="window.location.href='apply-1.html'"  class="btn btn-success">娑撳绔村?/button>
		</form>
		<hr>
    </div> <!-- /container -->
        <div class="container" style="margin-top:20px;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="footer">
                        <div class="footerNav">
                             <a rel="nofollow" href="http://www.atguigu.com">閸忓厖绨幋鎴滄粦</a> | <a rel="nofollow" href="http://www.atguigu.com">閺堝秴濮熼弶鈩冾儥</a> | <a rel="nofollow" href="http://www.atguigu.com">閸忓秷鐭楁竟鐗堟</a> | <a rel="nofollow" href="http://www.atguigu.com">缂冩垹鐝崷鏉挎禈</a> | <a rel="nofollow" href="http://www.atguigu.com">閼辨梻閮撮幋鎴滄粦</a>
                        </div>
                        <div class="copyRight">
                            Copyright ?2017-2017 atguigu.com 閻楀牊娼堥幍鈧張?
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
	<script>
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        });        
	</script>
  </body>
</html>