<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/login.css">
      <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div><a class="navbar-brand" href="index.html" style="font-size:32px;">竞价平台</a></div>
        </div>
      </div>
    </nav>

    <div class="container">

      <form class="form-signin " id="signupForm" role="form" method="post" th:action="doLogin" >
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-user" ></i> 用户登录</h2>
		  <div class="form-group has-success has-feedback">
				<label for="userName">名字</label>
			<input name="userName" type="text" class="form-control required" id="userName" placeholder="请输入登录账号" autofocus>
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
				<label for="userPass">密码</label>
			<input  name ="userPass" type="password" class="form-control required" id="userPass" placeholder="请输入登录密码" style="margin-top:10px;">
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		  </div>
       <!--   <div class="form-group">
              <label for="userType">用户类型</label>
              <select class="form-control" name="userType" id="userType">
                  <option th:value="C">管理员</option>
                  <option th:value="CZ">普通用户</option>
              </select>
          </div>-->
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
          <br>
          <label>
            忘记密码
          </label>
          <label style="float:right">
            <a href="/colleage/to/registerIndex">我要注册</a>
          </label>
        </div>
          <a class="btn btn-lg btn-success btn-block" onclick="dologin()" > 登录</a>


      </form>
    </div>
  </body>

  <!--<script src="/layer/layer.js"></script>-->
  <script src="/layer/layer.js" th:src="@{layer/layer.js}"></script>
  <script>
      function dologin() {
          // 非空校验
          var userName = $("#userName").val();
          // 表单元素的value取值不会为null, 取值是空字符串
          if ( userName == "" ) {
              alert("用户登录账号不能为空，请输入");

              layer.msg("用户登录账号不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

              });
              return;
          }

          var userPass = $("#userPass").val();
          if ( userPass == "" ) {
              //alert("用户登录密码不能为空，请输入");
              layer.msg("用户登录密码不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

              });
              return;
          }

          var userType = $("#userType").val();



              // 提交表单
              //alert("提交表单");
              //$("#loginForm").submit();
              // 使用AJAX提交数据
              var loadingIndex = null;
              $.ajax({
                  type : "POST",
                  url  : "colleage/login",
                  data : {
                      "userAccount" : userName,
                      "userPass"  : userPass,
                      "userType"  : userType
                  },
                  beforeSend : function(){
                      loadingIndex = layer.msg('处理中', {icon: 16});
                  },
                  success : function(result) {

                      layer.close(loadingIndex);
                      if (result!=null) {
                          window.location.href = "/colleage/get/main";
                      } else {
                          layer.msg("用户登录账号或密码不正确，请重新输入", {time:2000, icon:5, shift:6}, function(){

                          });
                      }
                  }
              });
      }
  </script>

	<!--<script>
	/*$.validator.setDefaults({
	    submitHandler: function() {

	    }
	});*/
	$().ready(function() {
	// 在键盘按下并释放及提交后验证提交表单
	  $("#signupForm").validate({
		    rules: {
		      userame: {
		        required: true,
		        minlength: 2
		      },
		      password: {
		        required: true,
		        minlength: 5
		      },

		    },
		    messages: {
		      username: {
		        required: "请输入用户名",
		        minlength: "用户名必需由两个字母组成"
		      },
		      password: {
		        required: "请输入密码",
		        minlength: "密码长度不能小于 5 个字母"
		      },
		      email: "请输入一个正确的邮箱",
		    }
		});
	});
	</script>-->

	<style>
	.error{
		color:red;
	}
	</style>
</html>